{% extends 'base.html' %}

{% block title %} La grosse  Ontologie UPEM {%endblock%}


{% block header %} Ce site vous est proposé par le projet IDEA Premier langage.   {%endblock%}


{% block news %} {% include 'news.html' %}{%endblock%}


{% block nav %} {% include 'basiquenav.html" %}
{%endblock%}

 {% block content %} Pour toutes vos remarques ou demande de développement veuillez utiliser le lien suivant:
<a href="http://bugzilla.univ-mlv.fr/"> http://bugzilla.univ-mlv.fr/</a>
dès qu'il sera opérationel ce qui ne devrai pas tarder.{% endblock %}

