{% extends 'base.html' %}

{% block title %} Ontologie UPEM {%endblock%}


{% block header %}
<h1></h1>


<h1 style="color:blue">   Ontologies du projet Premier language </h1>    {%endblock%}


{% block news %} {% include 'news.html' %}{%endblock%}

{% block navbar %} {% include 'basiquenav.html' %} {%endblock%}


 {% block content %} <!-- content -->
<h2>
Pour toutes vos remarques ou demande de développement veuillez utiliser le lien suivant:
<a href="http://bugzilla.univ-mlv.fr/"> http://bugzilla.univ-mlv.fr/</a>
qui est opérationel pour prendre vos besoins, remarques etc.
</h2>
<h2>
    Choisiser votre ontologie dans le menu du haut.
</h2>
<h3><a href="http://pl.univ-mlv.fr/concept"> L'ontologie de concepts informatiques </a></h3>

<h3><a href="http://plm.univ-mlv.fr/concept"> L'ontologie de concepts Mathématiques </a></h3>

{% endblock %}

