<!--
   base.html

   Copyright 2015 Dominique Revuz <dr@univ-mlv.fr>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html lang="fr">
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

  <link rel="shortcut icon" href="static/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 
    <script src="{% static 'bootstrap-3.3.2-dist/js/bootstrap.min.js'  %}"></script>
    
       <link href="{% static 'bootstrap-3.3.2-dist/css/style.css' %}" rel="stylesheet">
       <link href="{% static 'bootstrap-3.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">

         


    <title >{% block title%} {% endblock %}</title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="Dominique Revuz 2015" />
</head>

  
    <body>

    <div="header">
           {% if image != None %}
        {% if image == 0 %}
            <p style="center"><img class="inner-wrap" src="{% static 'DT76721A.jpg' %}" alt="The Image"/></p>
        {% elif image == 1 %}
         <p style="center"><img class="inner-wrap" src="{% static 'DT76721B.jpg' %}" alt="The Image"/></p>
        {% elif image == 2 %}
         <p style="center"><img class="inner-wrap" src="{% static 'DT76721C.jpg' %}" alt="The Image"/></p>
        {% else %}
        <!-- image='{{ image }}'  GROSTEXTDELAMORTQUITUE utilisé par les test a ne pas modifier -->
           <p style="center"><img src="{% static 'DT76721A.jpg' %}" alt="The Image"/></p>
        {% endif %}
    {% else %}
          <p> INDIQUER DANS LA VARIABLE image L'INDICE DE VOTRE IMAGE'</p>
    {% endif %}
		</img>
		
 {% block header %}    <h1 style="color:blue;"> Ontologie du projet Premier language </h1> {% endblock %}

  
  </div>
  
 

   <div class="container-fluid">
    {% block news %} <p> Pour toute questions demandez à dr @ univ - mlv . fr </p> {% endblock %}
 </div>
      
  
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			    {% block nav %}
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
			  
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
            {% endblock %}
        </div>
        
        <!--  <h4 class="sub-header">{% block content_title %} Titre défectueux{% endblock %}</h4>-->
          <div class="table-responsive">
            {% block content %} Si vous avez ce texte veuillez le signaler c'est une erreur .{% endblock %}
          </div>
        </div>
      </div>
    </div>
   
    <footer class="foot">
{% block footer %}
  <hr/>  <p>Copyright D Revuz 2015 all right reserved until i release a real version</p> {% endblock %}
    </footer>
  </body>
	

</html>
