{% extends "concept/base.html" %}

{% block title %}Page d'acceuil du site d'Ontologie du Projet Premier Langage{% endblock %}

{% block content %}



<h1>Page d'acceuil du site d'Ontologie du Projet Premier Langage</h1>

<p>Bienvenu sur ce site</p>
<p>Ici vous pouvez manipuler l'ontologie conceptuelle qui est le support des cours de Mathématique et d'informatique de l'UPEM</p>
<p>Cette ontologie a pour objectif à terme de permmettre la mise en oeuvre de différents modules d'aide à l'enseignant.</p>
<ol>
    <li>Un simplification de la construction d'un enseignement </li>
    <li>La structuration de l'ensemble des exercices existant</li>
    <li>La mise en oeuvre d'une remédiation automatique</li>
</ol>
<p>Cette ontologie est pour vous</p>
{% endblock %}